.footer {
  width: 100%;
  padding: 6rem 0;
  background-color: rgba(35, 35, 35, 0.9);
}
.footer-con {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.left {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.left h3 {
  color: yellowgreen;
  margin-left: 10px;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.email {
  margin-top: 15px;
}
.location {
  display: flex;
  margin-bottom: 0.8rem;
}
.location p {
  line-height: 30px;
  font-weight: 300;
}
.social{

  display: flex;
  flex-direction: row;
}
.socialIcons1{
  font-size: 30px;
    color: yellowGreen;
    cursor: pointer;
}
.socialIcons1:hover{
  color: white;
}
.socialIcons{
  margin-left: 40px;
  font-size: 30px;
    color: yellowGreen;
    cursor: pointer;
}
.socialIcons:hover{
  color: white;
}
.right {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.social {
  margin-top: 1rem;
}
.right h3 {
  color: yellowgreen;
  font-size: 2.5rem;
  padding-bottom: 0.7rem;
}
.right h4 {
  color: yellowgreen;
  font-size: 2rem;
  margin-top: 0.8rem;
}
p {
  font-size: 1.2rem;
}
@media screen and (max-width: 640px) {
  .footer-con {
    grid-template-columns: 1fr;
  }
  .left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 10px;
  }
}
